
/* Slideshow */

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 57rem;
    /* height:45rem; */
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  /* img{
      z-index: 0.5;
  } */
  .show{
    display:flex;
    justify-content:space-between ;
    border:none;
    border-radius: 2rem;
  }
  .slide {
    display: inline-block;
  
    height: 30rem;
    width: 100%;
    border-radius: 2rem;
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
    margin-top:8rem;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 15px 7px 0px;
    /* margin: 70rem; */
  
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #666666;
  }