body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fedcb0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #385b66;  
  display: flex;
  align-items: center;  
  justify-content: center;  
  min-height: 100vh;
  min-width: 100vh;
}

.submit:hover{
  cursor: pointer;
  color:#ffffff59;
  background-color: #a4c4e9;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 40rem;
  border: none;
  border-radius: 2rem;
  background: #385b66;
  box-shadow:  13px 13px 27px #080c13, -13px -13px 27px #20304d;
}
.start{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  margin: 0;
  font-size: 3.5rem;
}
p{
  margin: 0px;
  font-size: 2rem;  
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem;
}
input{
  background: none;
  outline: none;
  border: none;
  color: #fedcb0;
  font-size: 0.8rem;
}
.input{
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: 1rem;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  height: 1.7rem;
  width: 18rem;
  color: #fedcb0;
  border-radius: 1.5rem;
  background: #385b66;
  box-shadow:  6px 6px 12px #080c13,
           -6px -6px 12px #20304d;
}
.submit{
  margin: 2rem;
  margin-bottom: 0.5rem;
  border: none;
  height: 1.5rem;
  width: 5rem;
  color: #fedcb0;
  border-radius: 1.5rem;
  background: #385b66;
  box-shadow:  6px 6px 12px #080c13,
           -6px -6px 12px #20304d;
}
svg{
  color: #fedcb0;
  height: 20px;
  width: 20px;
  margin: 5px;
  padding: 3px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
fill: black;
}
.dropdown{
  font-weight: lighter;
  font-size: 0.8rem;
  width: 9rem;
}

.age{
  color: #fedcb0;
  outline: none;
  border: none;
}